@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: red;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-brand-black: #201f22;
  --color-brand-gray: #3a393e;
  --color-brand-green: #c1fd35;
  --color-brand-white: #eeeaea;
}

button,
.btn {
  @apply text-center cursor-pointer disabled:cursor-not-allowed! max-[370px]:text-sm text-base px-5 py-3 border rounded-xl font-bold;
}

.btn-header {
  @apply py-2 font-semibold rounded-md;
}

.btn-primary {
  @apply bg-brand-green border-brand-green text-black;
}

.btn-secondary {
  @apply bg-transparent border-brand-green text-brand-green;
}

.btn-tertiary {
  @apply bg-brand-gray border-brand-gray text-white;
}

input {
  @apply bg-white text-brand-black placeholder-black/50 rounded-xl text-base px-6 py-3 shadow-md border border-transparent ring-2 focus:ring-brand-green focus:outline-none;
}

.error-p {
  @apply text-red-600 text-center;
}

.input-error {
  @apply ring-red-600! focus:ring-red-600!;
}

.header {
  background: var(--brand);
}
