@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  @apply cursor-pointer disabled:cursor-not-allowed! disabled:bg-[#C1FD35]/50 disabled:text-stone-700 bg-[#C1FD35] text-black px-4 py-2 rounded;
}

input {
  @apply bg-white text-gray-800 placeholder-gray-500 rounded-xl px-6 py-3 w-80 shadow-md focus:outline-none focus:ring-2 focus:ring-green-400;
}

.error-p {
  @apply text-red-600;
}
