@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --color-brand-black: #201f22;
  --color-brand-gray: #3a393e;
  --color-brand-green: #c1fd35;
  --color-brand-white: #eeeaea;
}

body {
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
  @apply text-brand-black bg-brand-white;
}

.btn {
  @apply text-center cursor-pointer disabled:cursor-not-allowed! max-[370px]:text-sm text-base px-5 py-3 border rounded-xl font-bold shadow-lg;
}

.btn-header {
  @apply py-2 font-semibold rounded-md;
}

.btn-primary {
  @apply bg-brand-green border-brand-green text-black;
}

.btn-secondary {
  @apply bg-transparent border-brand-green text-brand-green;
}

.btn-tertiary {
  @apply bg-brand-gray border-brand-gray text-white;
}

input {
  @apply bg-white text-brand-black placeholder-black/50 rounded-xl text-base px-6 py-3 shadow-md border border-brand-white ring-2 focus:ring-brand-green focus:outline-none;
}

button {
  @apply cursor-pointer;
}

.error-p {
  @apply text-red-600 text-center;
}

.input-error {
  @apply ring-red-600! focus:ring-red-600!;
}

.header {
  background: var(--brand);
}

.sidenav-link {
  @apply text-[17px] font-semibold;
}

.sidenav-link:hover,
.sidenav-link.active {
  @apply font-black;
}

.card-flip {
  perspective: 1000px;
}
.card-flip-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card-flip-front,
.card-flip-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.card-flip-back {
  transform: rotateY(180deg);
}

.bg-landing {
  background-image: url("../public/img/landing-image-mobile.png");

  & {
    @media (width >= 48rem /* 1024px */) {
      background-image: url("../public/img/landing-image-tablet.png");
    }

    @media (width >= 64rem /* 1024px */) {
      background-image: url("../public/img/landing-image-desktop.png");
    }
  }
}

/* @import "react-credit-cards-2/dist/es/styles-compiled.css"; */
